# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# WebGL or other builds
WebGLDemo/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.unityproj

# OS-specific files
.DS_Store
Thumbs.db
